* {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

br {
    margin-bottom: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

.contact {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(99, 184, 255, 0.2);
}

.contact h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

.contact-options {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact-form {
    height: 100%;
    max-width: 600px;
    width: 100%;
    background-color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid steelblue;
}

.contact-links {
    max-width: 600px;
    width: 100%;
    padding: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border: 1px solid steelblue;
}

.styled-button {
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: steelblue;
    color: white;
    border: none;
    font-size: large;
    text-decoration: none;
}

.contact-blurb {
    width: 100%;
    text-align: center;
    margin: 5px;
    font-size: medium;
}

.contact-wrapper {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    padding-top: 0px;
}

.contact-form .text-input {
    border: 1px solid steelblue;
    resize: none;
}

.contact-form label {
    color: steelblue;
}

.navbar {
    max-width: 100vw;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid steelblue;
    margin: 0px;
    height: 10vh;
    min-height: 40px;
    max-height: 200px;
    align-items: center;
}

.menu-option {
    margin-left: 50px;
    margin-right: 50px;
    list-style-type: none;
}

.menu-option.active {
    background-color: steelblue;
}

.menu-option-link {
    text-decoration: none;
    color: steelblue;
    font-size: large;
    margin: 15px;
}
.menu-option-link.active {
    color: white;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.project {
    width: 80%;
    display: flex;
}

.drop-shadow {
    box-shadow: 2px 2px 8px rgb(70, 130, 180, 0.2);
}

.project img {
    width: 70%;
    flex-grow: 0;
    flex-shrink: 0;
}

.project .text-container {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.project h3, .project p {
    margin: 0px;
    margin-bottom: 5px;
}

.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.page-content {
    flex-grow: 1;
}

.about {
    display: flex;
    flex-direction: column;
}

.about-blurb {
    font-size: xx-large;
    max-width: 40%;
    margin: 0px;
    margin-left: 20px;
}

.about-body-container, .about-blurb-container {
    display: flex;
    justify-content: center;
    align-items: end;
}

.about-blurb-container {
    height: 80vh;
    padding: 5vh;
    position: relative;
}

.arrow {
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 40px;
    background-color: steelblue;
    cursor: pointer;
}

.about-blurb-container img {
    height: 100%;
    margin: 0px;
}

.about-body {
    font-size: large;
    width: 45%;
    margin-top: 35px;
}

.experience-headline-container *, .experience-dates-container * {
    display: inline;
    margin: 0px;
}

.experience {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.experience-item {
    width: 60%;
    display: flex;
    margin-bottom: 10px;
    align-items:baseline;
    padding: 10px;
    height: 100%;
}

.experience-text {
    width: 40%;
    text-align: center;
}

.skills {
    width: 50%;
    border-spacing: 10px;
}

.skills td {
    width: 50%;
    text-align: center;
    padding: 10px;
}

.experience-overview {
    flex-grow: 0;
    flex-shrink: 0;
    width: 30%;
    text-align: right;
    padding-right: 20px;
    border-right: 1px solid steelblue;
    margin-right: -1px;
}

.experience-description {
    margin: 0px;
    padding-left: 20px;
    border-left: 1px solid steelblue;
}

.experience-overview h4 {
    margin: 0px;
}

.view-as-pdf-button-container {
    display: flex;
    width: 10%;
    margin: 20px;
}

.experience .section-header {
    margin-top: 20px;
    margin-bottom: 5px;
    color: steelblue;
}

.references {
    margin-top: 20px;
}